.header{
    position: fixed;
    font-size: 1.2em;
    color: white;
    background-color:rgba(92, 4, 151, 0.9);;
    text-align: center;
    padding: 10px;
    top:0;
    width: 100%;
    z-index: 9999;

}
.game_startBtn{
    text-align: left;
    color:white;
}
.game_des{
    text-align: center;
    font-size: 1rem;
}
.game_score{
    text-align:right;
    color:white;
}

.error{
    font-weight: bolder;
    font-size: 2rem;
    color: rgb(245, 83, 83);
    
}

.noerror{
    font-size: 2rem;
    font-weight: bolder;
    color:rgb(103, 246, 103);
}